/* Layout
/*================================= *!*/

body{
    padding-top: 20px;
}

.container{
    max-width: 1000px;
}
/* Jumbotron
================================= */

.jumbotron {
    text-align: center;
}

